<table id="mytable" class="table table-stripped table-responsive-md btn-table">
    <thead>
        <tr>
            <th>ID</th>
            <th class="th-sm"> Name</th>
            <th class="th-sm"> Price</th>
            <th class="th-sm"> Category</th>
            <th class="th-sm"> Description</th>
            <th class="th-sm"> Picture</th>
            <th class="th-sm"> Options</th>
        </tr>
    </thead>
    <tbody>
        {{#products}}
        <tr>
            <br>
            <td>{{_id}}</td>
            <td>{{name}}</td>
            <td>{{price}}</td>
            <td>{{category}}</td>
            <td>{{description}}</td>
            <td>{{picture}}</td>
            <td>
                <form action="/api/product/{{_id}}" method="GET">
                    <button type="submit" class="btn btn-primary">Edit</button>
                </form>
            </td>
            <td>
                <form action="/api/product/{{_id}}" method="GET">
                    <button type="submit" class="btn btn-primary">Delete</button>
                </form>
            </td>
        </tr>
        {{/products}}
    </tbody>
</table>